on:
  push:
    branches:
    - "update-gloo-apis"

jobs:
  pull-request:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: pull-request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "master"
          pr_reviewer: "solo-apis"
          pr_label: "auto-pr"
          github_token: ${{ secrets.GITHUB_TOKEN }}